# Import

In [111]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score
import numpy as np
import pandas as pd

In [112]:
url = 'https://raw.githubusercontent.com/IrinaSing/challenge-collecting-data-immo/main/data/houses.csv'
df = pd.read_csv(url, index_col=0)
print(df.head(5))

    Location Property type Property subtype     Price      Type of sale  \
0   Verviers         HOUSE            HOUSE  296607.0  residential_sale
1   Haasdonk         HOUSE            HOUSE  560000.0  residential_sale
2      VIANE         HOUSE            HOUSE  299000.0  residential_sale
3  Gerpinnes         HOUSE            HOUSE  300000.0  residential_sale
4   Nivelles         HOUSE            HOUSE  195000.0  residential_sale

   Number of bedrooms  Living area        Kitchen Furnished  Open fireplace  \
0                 3.0        130.0        Unknown     False           False
1                 4.0          NaN        Unknown       NaN           False
2                 5.0        200.0  SEMI_EQUIPPED     False           False
3                 0.0        270.0        Unknown     False           False
4                 3.0        135.0      INSTALLED     False           False

   Terrace Terrace orientation   Garden Garden orientation  Surface area land  \
0     True             Unknown     True            Unknown              239.0
1  Unknown             Unknown  Unknown            Unknown              626.0
2  Unknown             Unknown  Unknown            Unknown             1150.0
3     True               SOUTH     True              SOUTH              498.0
4     True             Unknown  Unknown            Unknown              165.0

  Number of facades   Pool Condition
0                 3    NaN    AS_NEW
1                 3    NaN    AS_NEW
2               NaN    NaN      GOOD
3                 3  False       NaN
4                 2  False       NaN

In [113]:
df.shape

(10082, 18)

In [114]:
df.columns.tolist()

['Location',
 'Property type',
 'Property subtype',
 'Price',
 'Type of sale',
 'Number of bedrooms',
 'Living area',
 'Kitchen',
 'Furnished',
 'Open fireplace',
 'Terrace',
 'Terrace orientation',
 'Garden',
 'Garden orientation',
 'Surface area land',
 'Number of facades',
 'Pool',
 'Condition']

In [115]:
# most expensive property price
df['Price'].max()

35000000.0

In [116]:
# property price mean
df['Price'].mean()

402781.70696927095

In [117]:
# Where is the most expensive property located?
df['Price'].idxmax()

1122

In [118]:
# Where is the most 
df['Location'].value_counts()

Gent                                       143
Antwerp                                    128
Aalst                                       91
Brugge                                      87
Roeselare                                   82
                                          ...
DION                                         1
Ramillies Geest-Gérompont-Petit-Rosière      1
Ormeignies                                   1
Hansbeke                                     1
Woluwe Saint Etienne                         1
Name: Location, Length: 2112, dtype: int64

In [119]:
df.sort_values('Price').head()

,Location,Property type,Property subtype,Price,Type of sale,Number of bedrooms,Living area,Kitchen,Furnished,Open fireplace,Terrace,Terrace orientation,Garden,Garden orientation,Surface area land,Number of facades,Pool,Condition
6468,Chimay,HOUSE,MIXED_USE_BUILDING,2500.0,residential_sale,0.0,NaN,Unknown,False,False,Unknown,Unknown,Unknown,Unknown,452.0,3,False,TO_RENOVATE
7753,Herent,HOUSE,HOUSE,2500.0,residential_sale,5.0,1617.0,INSTALLED,False,False,True,Unknown,True,NORTH,3738.0,NaN,False,GOOD
6621,Deinze,HOUSE,HOUSE,2500.0,residential_sale,0.0,NaN,Unknown,False,False,Unknown,Unknown,Unknown,Unknown,100.0,2,False,NaN
8635,Blaimont,HOUSE,BUNGALOW,10000.0,first_session_with_reserve_price,2.0,NaN,Unknown,NaN,False,Unknown,Unknown,Unknown,Unknown,398.0,Unknown,NaN,Unknown
233,Erquelinnes Bersilliesl'Abbaye,HOUSE,BUNGALOW,14900.0,residential_sale,2.0,32.0,SEMI_EQUIPPED,False,False,True,Unknown,True,Unknown,200.0,4,False,GOOD

In [120]:
df.isnull().sum()

Location                  0
Property type             0
Property subtype          0
Price                   124
Type of sale              0
Number of bedrooms      112
Living area            2332
Kitchen                 797
Furnished              2998
Open fireplace            0
Terrace                   0
Terrace orientation       0
Garden                    0
Garden orientation        0
Surface area land       112
Number of facades      1559
Pool                   5154
Condition              2088
dtype: int64

In [121]:
# include only rows where price is not 0
df = df[df['Price'].notna()]
df.shape

(9958, 18)

In [122]:
df.columns = [c.replace(' ', '_') for c in df.columns]
df.head(20)

,Location,Property_type,Property_subtype,Price,Type_of_sale,Number_of_bedrooms,Living_area,Kitchen,Furnished,Open_fireplace,Terrace,Terrace_orientation,Garden,Garden_orientation,Surface_area_land,Number_of_facades,Pool,Condition
0,Verviers,HOUSE,HOUSE,296607.0,residential_sale,3.0,130.0,Unknown,False,False,True,Unknown,True,Unknown,239.0,3,NaN,AS_NEW
1,Haasdonk,HOUSE,HOUSE,560000.0,residential_sale,4.0,NaN,Unknown,NaN,False,Unknown,Unknown,Unknown,Unknown,626.0,3,NaN,AS_NEW
2,VIANE,HOUSE,HOUSE,299000.0,residential_sale,5.0,200.0,SEMI_EQUIPPED,False,False,Unknown,Unknown,Unknown,Unknown,1150.0,NaN,NaN,GOOD
3,Gerpinnes,HOUSE,HOUSE,300000.0,residential_sale,0.0,270.0,Unknown,False,False,True,SOUTH,True,SOUTH,498.0,3,False,NaN
4,Nivelles,HOUSE,HOUSE,195000.0,residential_sale,3.0,135.0,INSTALLED,False,False,True,Unknown,Unknown,Unknown,165.0,2,False,NaN
5,Dinant,HOUSE,HOUSE,175000.0,residential_sale,3.0,128.0,INSTALLED,NaN,False,True,Unknown,Unknown,Unknown,260.0,2,NaN,NaN
6,Lierde,HOUSE,HOUSE,415000.0,residential_sale,3.0,207.0,HYPER_EQUIPPED,False,False,True,SOUTH_WEST,True,SOUTH_WEST,534.0,3,False,AS_NEW
7,Lierde,HOUSE,HOUSE,405000.0,residential_sale,3.0,207.0,HYPER_EQUIPPED,False,False,True,SOUTH_WEST,True,SOUTH_WEST,382.0,2,False,AS_NEW
8,Lierde,HOUSE,HOUSE,415000.0,residential_sale,3.0,207.0,HYPER_EQUIPPED,False,False,True,SOUTH_WEST,True,SOUTH_WEST,532.0,3,False,AS_NEW
9,BLAASVELD,HOUSE,HOUSE,415000.0,residential_sale,3.0,194.0,INSTALLED,False,False,Unknown,Unknown,True,SOUTH,457.0,2,NaN,NaN
10,Lede,HOUSE,VILLA,549000.0,residential_sale,3.0,NaN,Unknown,NaN,False,True,Unknown,Unknown,Unknown,973.0,4,True,GOOD
11,Lierde,HOUSE,HOUSE,415000.0,residential_sale,3.0,207.0,HYPER_EQUIPPED,False,False,True,SOUTH_WEST,True,SOUTH_WEST,532.0,3,False,AS_NEW
12,Anderlecht,HOUSE,HOUSE,439000.0,residential_sale,5.0,290.0,SEMI_EQUIPPED,False,False,True,Unknown,True,Unknown,142.0,2,NaN,NaN
13,Harelbeke,HOUSE,HOUSE,245000.0,residential_sale,3.0,161.0,INSTALLED,False,False,Unknown,Unknown,Unknown,Unknown,353.0,3,False,GOOD
14,Zele,HOUSE,HOUSE,420000.0,residential_sale,3.0,196.0,Unknown,NaN,False,Unknown,Unknown,Unknown,Unknown,350.0,2,NaN,AS_NEW
15,Hyon,HOUSE,HOUSE,190000.0,residential_sale,3.0,194.0,Unknown,False,False,True,Unknown,Unknown,Unknown,270.0,4,NaN,NaN
16,Frameries,HOUSE,HOUSE,90000.0,residential_sale,3.0,158.0,Unknown,False,False,Unknown,Unknown,Unknown,Unknown,240.0,2,NaN,TO_RENOVATE
17,NEEROETEREN,HOUSE,HOUSE,369000.0,residential_sale,4.0,250.0,INSTALLED,False,False,True,Unknown,Unknown,Unknown,1341.0,4,True,GOOD
18,Kieldrecht,HOUSE,HOUSE,160000.0,residential_sale,3.0,150.0,Unknown,NaN,False,True,Unknown,True,Unknown,118.0,2,NaN,TO_RENOVATE
19,VELDEGEM,HOUSE,HOUSE,369000.0,residential_sale,3.0,178.0,INSTALLED,False,False,Unknown,Unknown,Unknown,Unknown,2129.0,4,NaN,GOOD

In [123]:
# exclude columns which are insignificant
df = df.drop(['Terrace_orientation','Garden_orientation', 'Property_subtype', 'Type_of_sale', 'Number_of_facades'], axis=1)

In [124]:
df['Pool'] = df['Pool'].fillna(False)
df.Pool.unique()

array([False,  True])

In [125]:
df["Terrace"].replace({"Unknown": False}, inplace=True)
df.Terrace.unique()

array(['True', False], dtype=object)

In [126]:
df["Garden"].replace({"Unknown": False}, inplace=True)
df.Garden.unique()

array(['True', False], dtype=object)

In [127]:
df['Furnished'] = df['Furnished'].fillna(False)
df.Pool.unique()

array([False,  True])

In [128]:
df.head(10)

,Location,Property_type,Price,Number_of_bedrooms,Living_area,Kitchen,Furnished,Open_fireplace,Terrace,Garden,Surface_area_land,Pool,Condition
0,Verviers,HOUSE,296607.0,3.0,130.0,Unknown,False,False,True,True,239.0,False,AS_NEW
1,Haasdonk,HOUSE,560000.0,4.0,NaN,Unknown,False,False,False,False,626.0,False,AS_NEW
2,VIANE,HOUSE,299000.0,5.0,200.0,SEMI_EQUIPPED,False,False,False,False,1150.0,False,GOOD
3,Gerpinnes,HOUSE,300000.0,0.0,270.0,Unknown,False,False,True,True,498.0,False,NaN
4,Nivelles,HOUSE,195000.0,3.0,135.0,INSTALLED,False,False,True,False,165.0,False,NaN
5,Dinant,HOUSE,175000.0,3.0,128.0,INSTALLED,False,False,True,False,260.0,False,NaN
6,Lierde,HOUSE,415000.0,3.0,207.0,HYPER_EQUIPPED,False,False,True,True,534.0,False,AS_NEW
7,Lierde,HOUSE,405000.0,3.0,207.0,HYPER_EQUIPPED,False,False,True,True,382.0,False,AS_NEW
8,Lierde,HOUSE,415000.0,3.0,207.0,HYPER_EQUIPPED,False,False,True,True,532.0,False,AS_NEW
9,BLAASVELD,HOUSE,415000.0,3.0,194.0,INSTALLED,False,False,False,True,457.0,False,NaN

In [131]:
# check unique value content
df.Kitchen.unique()

array(['Unknown', 'SEMI_EQUIPPED', 'INSTALLED', 'HYPER_EQUIPPED', nan,
       'USA_HYPER_EQUIPPED', 'NOT_INSTALLED', 'USA_INSTALLED',
       'USA_SEMI_EQUIPPED', 'USA_UNINSTALLED'], dtype=object)

In [130]:
df.isnull().sum()

Location                 0
Property_type            0
Price                    0
Number_of_bedrooms       0
Living_area           2219
Kitchen                794
Furnished                0
Open_fireplace           0
Terrace                  0
Garden                   0
Surface_area_land        0
Pool                     0
Condition             2086
dtype: int64